# dependencies
node_modules/

# Next.js build output
.next/

# production build
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# system files
.DS_Store
Thumbs.db

# editor folders
.vscode/
.idea/

# TypeScript build info
*.tsbuildinfo

# temporary files
*.log
tmp/
temp/
